.card{
    width: 46.4%;
    display: inline-flex;
    flex-direction: row;
    position: relative;
    border: rgb(0, 0, 0) solid 3px;
    margin: 1.5rem;
    background-image: linear-gradient(to bottom right,rgba(221, 109, 18, 0.856), rgba(0, 0, 0, 0.753));
    box-shadow: 0px 0px 20px 1px black;
    text-align: left;
    min-height: 15.5rem;
    height: auto;
    text-shadow:-2px -1px 0 black;
}

.card-subtitle{
    margin-top: -.375rem;
    margin-bottom: 0;
    font-size: 1.36rem;
    /* overflow-wrap: break-word; */
    word-wrap: normal;
    position: relative;
}

.card-body{
    font-family: 'cairo', cursive;
    border: none;
    color: white;
}

a:hover{
    color:rgba(221, 109, 18, 0);
}

.card:hover{
    text-decoration: none;
    transition: transform 0.3s ease-out;
    box-shadow: 20px 20px 20px 0px black;
    background: rgba(145, 67, 3, 0.74);
    text-shadow: 3px 3px 20px black;
}

.wholeCard a:hover{
 text-emphasis: none;
 background: lightgray;
}


