h4 {
    display: inline-block;
}

hr {
    margin: 4px;
}

.card-body {
    margin: 10px;
}

.type {
    font-style: italic;
}

.card {
    display: inline-flex;
    width: 95% !important;
    margin: .5rem !important;
    position: relative;
    left: 2rem;
    background-image: linear-gradient(to right bottom, rgba(221, 109, 18, 0.855), rgba(0, 0, 0, 0.753));
}