h4 {
    display: inline-block;
}

hr {
    margin: 4px;
}

.card-body {
    margin: 10px;
}

.type {
    font-style: italic;
}

.card {
    display: 'inline-flex';
    width: '75%';
    margin: '1rem';
}